/*////*/
/*CSS/*/
/*////*/

*{
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} /*define the entire document attributes*/


/*//*/
/*start variables section*/
/*//*/

:root{
    --footer-height: 100px;
}

/*//*/
/*end variables section*/
/*//*/





/*///////////*/
/*identifiers*/
/*///////////*/

/*//*/
/*start facade section*/
/*//*/

#facade{
    background: purple;
    color: white;
    min-height: 100vh; /*box height*/
    margin-top: 10px;
    padding: 20px;
    font-size: 1rem;

    /*center text horizontally and vertically*/
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*column*/
    flex-direction: column; /*display children ina column*/

    background-image: url("voltage-background.png");
    background-repeat: no-repeat; /*prevent background from looping itself*/
    background-size: cover; /*adjust the size of the background image*/
    background-position: bottom;
}

#facade h1,
#facade h2{
    max-width: 100%;
}

/*mobile phone view*/
/*@media (max-width: 500px){
    #facade{
        color: red;
        font-size: 3rem;
    }
}*/

/*//*/
/*end facade section*/
/*//*/



#contents{
    min-height: calc(150vh - var(--footer-height)); /*box height minus footer height*/
    background: #2e2b2b;
    color: white;
    padding-bottom: var(--footer-height); /*padding-bottom = footer-height*/
    
}

/*///////*/
/*classes*/
/*///////*/

.navigator{
    color: white;
    align-content: right;
    align-items: right;
    text-align: right;
    margin: 9px;
}

.article{
    /*space between articles*/
    margin-top: 0px; 
    margin-bottom: 0px; 
}

.facade-text{
    margin-top: 10px;
}

.facade-button{
    margin-top: 190px;
}

.footer-text{
    margin: 90px;
}

/*////////*/
/*elements*/
/*////////*/

html, body{
    min-height: 100vh;
    position: relative;
    background: black;
}

footer{
    /*footer height = var(--footer-height)*/
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: var(--footer-height);
    color: white;
    background: rgb(27, 23, 23);
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: down;
}