/*////*/
/*CSS/*/
/*////*/

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    box-sizing: border-box;
} /*define the entire document attributes*/

/* ATTENTION */
/* media queries (max-width: 1000px) are used for mobile phone / tablet view */
/* ATTENTION */

/*//*/
/*start variables section*/
/*//*/

:root{
    --footer-height: 100px;
    --mobile-height: 1000px;
}



/*//*/
/*end variables section*/
/*//*/





/*///////////*/
/*identifiers*/
/*///////////*/

/*//*/
/*start facade section*/
/*//*/

#facade{
    background: black;
    color: white;
    min-height: 100vh; /*box height*/
    margin-top: 10px;
    padding: 20px;
    font-size: 1rem;

    /*center text horizontally and vertically*/
    text-align: center;
    
    justify-content: center;
    align-items: center;
    /*column*/
    flex-direction: column; /*display children ina column*/

    background-image: url("voltage-background.png");
    background-repeat: no-repeat; /*prevent background from looping itself*/
    background-size: cover; /*adjust the size of the background image*/
    background-position: bottom;
    opacity: 0;
    animation: facadeFadeIn 0.2s;
}

@keyframes facadeFadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#facade h1,
#facade h2{
    max-width: 100%;
}



/*//*/
/*end facade section*/
/*//*/



#contents{
    min-height: calc(90vh - var(--footer-height)); /*box height minus footer height*/
    background: #cdcde7;
    color: rgb(38, 44, 41);
    padding-bottom: var(--footer-height); /*padding-bottom = footer-height*/
    flex: 1; /*this makes the area expand to fill available space*/
    text-align: center;
    background: url("content-background-light.png");
    background-repeat: no-repeat; /*prevent background from looping itself*/
    background-size: cover; /*adjust the size of the background image*/
    background-position: bottom;
}

/*///////*/
/*classes*/
/*///////*/

.navigator{
    color: white;
    align-content: right;
    align-items: right;
    text-align: right;
    margin: 9px;
}

.navigator-button{
    padding: 10px;
    margin-left: 20px;
    font-size: 0.75rem;
    background: url("content-background.png");
    color: white;
    text-decoration: none;
}


@media screen and (max-width: 1000px){
    .navigator-button{
        width: 220px;
        font-size: 1.5rem;
        color: white;
    }
}

.navigator-button:hover{
    color:rgb(205, 240, 240);
}

.facade-item{
    margin-top: 140px;
    opacity: 0;
    animation: moveFromLeft 1s ease-in-out 0.2s;
}


@media screen and (max-width: 1000px){
    .facade-item{
        margin-top: 100px;
    }
}

@keyframes moveFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-20%); /* Start off-screen to the left */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* Move to the center */
    }
}


.facade-button{ 
    
    padding: 90px 100px;
    width: 90px;
    display: inline-block;
    padding: 10px;
    background: url("content-background-transparent.png");
    background-repeat: no-repeat; /*prevent background from looping itself*/
    background-size: cover; /*adjust the size of the background image*/
    background-position: bottom;
    opacity: 100%;
    text-decoration: none;
    border-radius: 4rem;
    color: white;
    opacity: 0;
    animation: moveFromRight 1s ease-in-out 0.2s;
}
 


@media screen and (max-width: 1000px){
    .facade-button{
        width: 220px;
        font-size: 2rem;
        color: white;
    }
}





@keyframes moveFromRight {
    0% {
        opacity: 0;
        transform: translateX(20%); /* Start off-screen to the left */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* Move to the center */
    }
}

.facade-button:hover{
    color:rgb(205, 240, 240);
}


.big-title-text{
    padding: 40px;
    font-size: 4rem;
    align-content: center;
    align-items: center;
    text-align: center;
}

.title-text{
    font-size: 1rem;
}

.article-image{
    margin-top: 10px;
    width: 100px;
    height: auto;
    
    border-radius: 0.25rem;
}

@media screen and (max-width: 1000px){
    .article-image{
        width: 200px;
    }
}

.article{
    /*space between articles*/
    margin-top: 0px; 
    margin-bottom: 40px;
    padding: 19px;
    font-size: 1rem;
    text-align: left;
}



.facade-text{
    margin-top: 10px;
}

.facade-button{
    margin-top: 190px;
}

.footer-text{
    margin: 90px;
}

.contents-button{
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    color: black;
    display: inline-block;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    background-image: url("content-background-transparent.png");
    border-radius: 0.5rem;
}


@media screen and (max-width: 1000px){
    .contents-button{
        width: 220px;
        font-size: 1.5rem;
    }
}

.contents-button:hover{
    color: rgb(72, 28, 102);  
}

/*////////*/
/*elements*/
/*////////*/

html, body{
    min-height: 100vh;
    position: relative;
    background: black;
}

cv{
    filter: grayscale();
}

footer{
    /*footer height = var(--footer-height)*/
    /*position: flex; /*absolute position leaves the box in a fixed postion, which can cause overlapping issues with the contents box*/
    /*bottom: 0;*/
    display: flex;
    width: 100%;
    min-height: var(--footer-height);
    color: white;
    background: rgb(27, 23, 23);
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: url("content-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
   
}


@media screen and (max-width: 1000px){
    footer{
        font-size: 1.5rem;
    }
}