/*//*/
/*start facade section*/
/*//*/

#facade{
    color: white;
    min-height: 100vh; /*box height*/
    margin-top: 10px;
    padding: 20px;
    /*center text horizontally and vertically*/
    text-align: center;
    justify-content: center;
    align-items: center;
    /*column*/
    flex-direction: column; /*display children ina column*/

    /*background*/
    background: black;
    background-image: url("../../../public/images/voltage-background-facade.png");
    background-repeat: no-repeat; /*prevent background from looping itself*/
    background-size: cover; /*adjust the size of the background image*/
    background-position: center center;
    background-attachment: fixed;
     /*keeps the background image in its position*/

}

.facade-white-space{
    margin-top: 140px;
}

.facade-item{
    font-size: 1.7rem;
    margin-top: 140px;
}

.facade-element-fade-in{
    animation: facadeItemFadeIn 1s;
}


@media screen and (max-width: 1000px){
    .facade-item{
        margin-top: 140px;
    }
}

@keyframes facadeFadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#facade h1,
#facade h2{
    max-width: 100%;
    font-weight: 329;
}

@keyframes facadeItemFadeIn {
    0% {
        opacity: 0.5;
       
    }
    100% {
        opacity: 1;
    }
}

/*//*/
/*end facade section*/
/*//*/

