footer{
    /*footer height = var(--footer-height)*/
    /*position: flex; /*absolute position leaves the box in a fixed postion, which can cause overlapping issues with the contents box*/
    /*bottom: 0;*/
    display: flex;
    width: 100%;
    min-height: 19px;
    color: white;
    background: rgb(27, 23, 23);
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url("../../../public/images/content-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
   
}

.footer-white-space{
    margin: 10px;
}

.footer-text{
    background-image: none;
}

.footer-sub-text{
    font-size: 0.75rem;
    background-image: none;
    color: grey;
    margin-bottom: 5px;
}

.footer-buttons-containter{
    padding: 90px;
    justify-content: center;
}

.footer-button{
    margin: 20px;
}

