/*FACADE*/

.facade-button{ 
    
    padding: 90px 100px;
    width: 100px;
    display: inline-block;
    padding: 10px;
    background: url("../../public/images/content-background-transparent.png");
    background-repeat: no-repeat; /*prevent background from looping itself*/
    background-size: cover; /*adjust the size of the background image*/
    background-position: bottom;
    opacity: 100%;
    text-decoration: none;
    border-radius: 4rem;
    color: white;
}




@media screen and (max-width: 1000px){
    .facade-button{
        width: 180px;
        font-size: 1.7rem;
        color: white;
    }
}

.facade-button:hover{
    color:rgb(205, 240, 240);
}

.facade-button:active{
    opacity: 0.5;
}


/*CONTENTS*/

.contents-button{
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    color: black;
    display: inline-block;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    background-color: rgb(143, 191, 220);
    /*background-image: url("./assets/content-background-transparent.png");*/
    border-radius: 0.5rem;
}

@media screen and (max-width: 1000px){
    .contents-button{
        width: 220px;
        font-size: 1.5rem;
    }
}

.contents-button:hover{
   
    color: rgb(72, 28, 102);  
}

.contents-button:active{
    color: black;
    background-color: rgb(105, 139, 160);
}

/* IMAGES */

.image-button{
    opacity: 0.5;
}

.image-button:hover{
    animation: image-button-hover-effect 0.1s;
    opacity: 1;
}

.image-button:active{
    opacity: 0.1;
}

@keyframes image-button-hover-effect{
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}