/*NAVIGATION BAR*/

.navigator{
    position: fixed;
    top: 0;
    color: white;
    height: 40px;
    width: 100%;
    background-image: url("../../public/images/content-background.png");
    align-content: right;
    align-items: right;
    text-align: right;
    margin: 0px;
    z-index: 1000;
}

/* !!!!!!!!!!!!!!!! ATTENTION !!!!!!!!!!!!!!!! */
/* navigator buttons are handled in public/style.css  */
/* !!!!!!!!!!!!!!!! ATTENTION !!!!!!!!!!!!!!!! */
